@model List<ResultCategoryDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kategori Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Kategori ile ilgili işlemleri aşağıdan gerçekleştirebilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Kategori Adı</th>
                                    <th scope="col">Durum</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th>@count</th>
                                        <td>@item.CategoryName</td>
                                        <td>
                                            @if (item.CategoryStatus == true)
                                            {
                                                <span class="badge badge-success">Aktif</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-danger">Pasif</span>
                                            }
                                        </td>
                                        <td>
                                            <a href="/Category/DeleteCategory/@item.CategoryID" class="btn btn-outline-danger btn-sm btn-round">
                                                <i class="la la-trash"></i> Sil
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/Category/UpdateCategory/@item.CategoryID" class="btn btn-outline-success btn-sm btn-round">
                                                <i class="la la-edit"></i> Güncelle
                                            </a>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                        <a href="/Category/CreateCategory/" class="btn btn-primary btn-round mt-3" ><i class="la la-plus"></i> Yeni Kategori Girişi</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>