<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Setting/Index/">
                        Ayarlar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Default/Index/">
                        Siteye Git
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Statistic/Index/">
                        İstatistikler
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright ml-auto">
            @DateTime.Now.Year | <b>SignalRDine</b> Admin Paneli
        </div>
    </div>
</footer>